.root-card-cfhistory {
  width: 680px;
  height: 580px;
}
.title-bold-cfhistory {
  font-weight: 700;
  font-size: 40px;
  margin-left: 130px;
}
.title1-bold-cfhistory {
  font-weight: 700;
  font-size: 30px;
  float: left;
}

.timeago-cfhistory {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #656d72;
  float: right;
}

.amount-cfhistory {
  font-size: 22px;
  font-weight: 600;
}

.text-cfhistory {
  font-size: 20px;
}
