.title1-mycf {
  font-weight: 700;
  font-size: 40px !important;
  margin-left: 130px;
}

.timeago-mycf {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #656d72;
  float: right;
}
