#signInPageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-button {
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
