.create-button-createimgnft {
  margin-top: 30px;
  font-weight: 600 !important;
  width: 200px !important;
  height: 47px !important;
  background-color: #005ffe;
  text-align: center; 
}

.img-container-createimgnft {
  display: inline;
  position: relative;
}
.close-createimgnft {
  margin-left: 80%;
}
.select-createimgnft {
  background-color: transparent;
  border-radius: 25px;
  height: 10px;
  width: 300px;
  text-align: left;
  padding: 5px;
  color: #e5e2e7;
  margin-left: 50px;
}
